
*{
  box-sizing: border-box;
}

/*Navbar Top*/
body {
  background-color: #ffffff;
  text-align: center;
}

.navbar-header{
    background-image: url("https://pre00.deviantart.net/f8d0/th/pre/i/2011/329/5/8/clean_background_by_shvelo96-d4h96qt.jpg");
    background-size: cover;
}

.navigation_bar {
    background-color: 	#E1E1E1;
    overflow: hidden;
}


.navigation_bar a{
    float: center;
    color: black;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.navigation_bar a:hover {
  background-color: grey;
  color: #f2f2f2;
}

.navigation_bar a:active {
  background-color: black;
  color: white;
}

.statetext{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #222;
  text-align: left;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 205px;
  margin-inline-end: 205px;

}


h3{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: block;
  font-weight: 700;
  line-height: 1.3;
  color: #424242;
  margin-top: 21px;
  margin-bottom: 10.5px;
  font-size: 23px;
  text-align: left;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 205px;
  margin-inline-end: 205px;
}

ul{
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 0;
}

h2{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: block;
  line-height: 0;
  font-size: 15px;
  text-align: left;
  margin-top: 30px;
  margin-inline-start: 205px;
  margin-inline-end: 205px;
}

hr{
  margin-top: 31px;
  margin-bottom: 31px;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;
  height: 0;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 2.5em;
  margin-block-end: 2.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  width: 75%;
}

footer{
  line-height: 0.2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #C0C0C0;
}

.title{
  font-weight: 300;
  margin-top: 0;
  font-size: 45px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #424242;

  text-align: left;
  display: block;

  margin-block-start: 0.67em;
  margin-block-end: 55px;
  margin-inline-start: 205px;
  margin-inline-end: 205px;
  
}


/* Carousel */
.carousel{
  position: relative;
  margin: auto;
}


/* Only use images of same res */

.mySlides{
    height: auto;
    display: none;

}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
